@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    background-color: #e2e8f0;
    min-height: 100vh;
}
.grid{
    display: grid;
    grid-template-columns: 20% 80%;
}
.sidebar {
    background-color: #0096FF;
    color: white;
    height: 150vh;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    
}
.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}
.icon h2 {
    margin-left: 15px;
}
.sidebar img {
    filter: brightness(0) invert(1);
}
.icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}
.icon-text p {
    margin-left: 25px;
    font-size: 15px;
    font-weight: bold;
}
.item-list2 {
    margin-top: 35px;
}
.main {
    background-color: white;
    height: 150vh;
    display: grid;
    grid-template-rows: 20% 80%;
}
.header {
    background-color: #ffffff;
    padding: 1.5rem 2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input {
    width: 500px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid #cbd5e1;
    background-color: #f8fafc;
}
.user-name {
    font-weight: bold;
    font-size: 24px;
    color: black;
}
.user-profile, 
.welcome {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.welcome-text {
    
}
.main-content {
    background-color: #d4d4d4;
}